@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
    font-family: 'kanit';
}

.bgBody {
    background-color: #F6F9FE;
}


.imgWalailak {
    width: 80px;
}

h1 {
    iconify-icon {
        font-size: 80px;
    }

}

.temp {
    color: #ff9430;
}

.Humid {
    color: #21A9FF;
}

.HeatIndex {
    color: #249c3e;
}

.PM25 {

    color: #ff2146;
}

.PM10 {
    color: #e081fd;
}




.navbar-brand {
    font-weight: bolder;
    color: #707070;

    span {
        color: #21A9FF;
    }

}


#navbarNav {
    margin-right: 15%;
}


#container-Temp {
    .card {
        box-shadow: 0 1rem 2rem hsla(0, 0%, 33%, 0.15);
    }
}

#container-Humid {
    .card {
        box-shadow: 0 1rem 2rem hsla(0, 0%, 33%, 0.15);
    }
}

#container-HeatIndex {
    .card {
        box-shadow: 0 1rem 2rem hsla(0, 0%, 33%, 0.15);
    }
}

#container-PM25 {
    .card {
        box-shadow: 0 1rem 2rem hsla(0, 0%, 33%, 0.15);
    }
}

#container-PM10 {
    .card {
        box-shadow: 0 1rem 2rem hsla(0, 0%, 33%, 0.15);
    }
}


.card-body {
    #display-Humid {
        font-size: 3rem;
    }

    #display-Temp {
        font-size: 3rem;
    }

    #display-HeatIndex {
        font-size: 3rem;
    }

    #display-PM25 {
        font-size: 3rem;
    }

    #display-PM10 {
        font-size: 3rem;
    }

}


.Quality {
    p {
        color: #21A9FF;
        font-size: 5rem;
    }

    #QualityStatus {
        font-size: 3rem;
    }


}

.background {
    width: 100%;
    height: 55vh;
    background-color: #98D4FA;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

.backgroundAbout {
    width: 100%;
    height: 100%;
    background-color: #98D4FA;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fontAbout {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* color: rgb(33, 33, 33); */
    font-size: 24px;
    text-align: justify;
    text-indent: 30px;
    p{
       color: rgb(255, 255, 255); 
    }
}

.fontAbout {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
    text-indent: 30px;
}

.fontProduct {
    h1 {
        margin-bottom: 0;
    }

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #36aaf2;
    font-size: 24px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    top: -25%;
    position: relative;
}


.containerMain {
    margin-top: 10%;
}

.bottom-bar {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.row {
    display: flex;
    align-items: center;
}

#cirlePM10 {
    margin-top: 80px;
}

#cirlePM25 {
    margin-top: 80px;
}